<template>
  <button
    @click="onClick()"
    :class="[
      isActive
        ? 'bg-secondary text-white border-0'
        : 'text-primary border-[#CBD5E0] border',
      className,
    ]"
    class="h-10 flex items-center justify-center px-10"
  >
    {{ text }}
  </button>
</template>

<script>
export default {
  name: "TabButton",
  props: ["isActive", "className", "text", "onClick"],
};
</script>
