<template>
  <div>
    <div class="flex overflow-scroll p-10 border-gray-300 border-t">
      <TabsButton
        text="Arbeitnehmer"
        :isActive="activeTab === 1"
        :onClick="() => (activeTab = 1)"
        className="rounded-l-xl"
      />
      <TabsButton
        text="Arbeitnehmer"
        :isActive="activeTab === 2"
        :onClick="() => (activeTab = 2)"
      />
      <TabsButton
        text="Arbeitnehmer"
        :isActive="activeTab === 3"
        :onClick="() => (activeTab = 3)"
        className="rounded-r-xl"
      />
    </div>

    <TabsSlide
      v-if="activeTab === 1"
      header="Drei einfache Schritte zu deinem neuen Job"
      firstTitle="Erstellen dein Lebenslauf"
      :firstImage="
        require('@/assets/backgrounds/undraw_Profile_data_re_v81r.svg')
      "
      secondTitle="Erstellen dein Lebenslauf"
      :secondImage="require('@/assets/backgrounds/undraw_task_31wc.svg')"
      thirdTitle="Wähle deinen neuen Mitarbeiter aus"
      :thirdImage="
        require('@/assets/backgrounds/undraw_personal_file_222m.svg')
      "
    />

    <TabsSlide
      v-if="activeTab === 2"
      header="Drei einfache Schritte zur Vermittlung neuer Mitarbeiter"
      firstTitle="Erstellen dein Unternehmensprofil"
      :firstImage="
        require('@/assets/backgrounds/undraw_Profile_data_re_v81r.svg')
      "
      secondTitle="Erstellen ein Jobinserat"
      :secondImage="require('@/assets/backgrounds/undraw_about_me_wa29.svg')"
      thirdTitle="Wähle deinen neuen Mitarbeiter aus"
      :thirdImage="
        require('@/assets/backgrounds/undraw_swipe_profiles1_i6mr.svg')
      "
    />

    <TabsSlide
      v-if="activeTab === 3"
      header="Drei einfache Schritte zur Vermittlung neuer Mitarbeiter"
      firstTitle="Erstellen dein Unternehmensprofil"
      :firstImage="
        require('@/assets/backgrounds/undraw_Profile_data_re_v81r.svg')
      "
      secondTitle="Erhalte Vermittlungs- angebot von Arbeitgeber"
      :secondImage="require('@/assets/backgrounds/undraw_job_offers_kw5d.svg')"
      thirdTitle="Vermittlung nach Provision oder Stundenlohn"
      :thirdImage="
        require('@/assets/backgrounds/undraw_business_deal_cpi9.svg')
      "
    />
  </div>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {
      activeTab: 2,
    };
  },
};
</script>
