<template>
  <div>
    <h2 class="text-2xl px-5 py-10 text-center text-grey">
      {{ header }}
    </h2>
    <div class="relative h-[325px]">
      <div
        class="w-[208px] h-[208px] rounded-full absolute -bottom-8 -left-16"
        style="background: #f7fafc 0% 0% no-repeat padding-box"
      />

      <div class="absolute left-5 top-32 flex items-end">
        <div class="text-130px text-grey">1.</div>
        <div class="text-grey mb-11 ml-4 text-lg">
          {{ firstTitle }}
        </div>
      </div>
      <img :src="firstImage" class="absolute right-10 top-5" />
    </div>

    <div class="relative h-[370px] z-10">
      <img
        src="~/assets/backgrounds/home_curve_bg.svg"
        class="absolute -left-[180%] object-cover h-[120%] min-w-[1000px]"
      />
      <div class="absolute left-8 top-0 flex items-end">
        <div class="text-130px text-grey">2.</div>
        <div class="text-grey mb-11 ml-4 text-lg">
          {{ secondTitle }}
        </div>
      </div>
      <img :src="secondImage" class="absolute right-14 top-52" />
    </div>

    <div class="relative h-[370px] z-0">
      <div
        class="w-[304px] h-[304px] rounded-full absolute -top-8 -left-16"
        style="background: #f7fafc 0% 0% no-repeat padding-box"
      />
      <div class="absolute left-16 top-10 flex items-end">
        <div class="text-130px text-grey">3.</div>
        <div class="text-grey mb-11 ml-4 text-lg">
          {{ thirdTitle }}
        </div>
      </div>
      <img :src="thirdImage" class="absolute right-14 top-60" />
    </div>
  </div>
</template>

<script>
export default {
  name: "TabSlide",
  props: {
    header: {
      type: String,
      default: "",
    },
    firstTitle: {
      type: String,
      default: "",
    },
    firstImage: {
      type: String,
      default: "",
    },
    secondTitle: {
      type: String,
      default: "",
    },
    secondImage: {
      type: String,
      default: "",
    },
    thirdTitle: {
      type: String,
      default: "",
    },
    thirdImage: {
      type: String,
      default: "",
    },
  },
};
</script>
