
<template>
    <div
      class="text-center pt-10"
      style=" height: 600px;
        background: linear-gradient(141deg, #ebf4ff 0%, #e6fffa 100%) 0% 0%
          no-repeat padding-box;
      "
    >
      <img
        src="~/assets/backgrounds/undraw_agreement_aajr.svg"
        alt="logo"
        class="w-screen mx-auto absolute z-0 top-52"
      />
      <h1 class="text-5xl px-10 z-1 relative">Deine Job website</h1>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header",
};
</script>
