<template>
  <div
    class="fixed bg-white w-screen shadow rounded-t-xl bottom-0 h-20 flex items-center justify-center px-5"
  >
    <a
      href="#"
      class="block w-full text-white rounded-xl p-2 text-center"
      style="
        background: transparent linear-gradient(95deg, #319795 0%, #3182ce 100%)
          0% 0% no-repeat padding-box;
      "
    >
      Kostenlos Registrieren
    </a>
  </div>
</template>

<script>
export default {
  name: "TopPanel",
};
</script>
