<template>
  <div class="fixed bg-white w-screen shadow rounded-b-xl z-10">
    <div
      class="w-screen h-2"
      style="
        background: transparent linear-gradient(91deg, #319795 0%, #3182ce 100%)
          0% 0% no-repeat padding-box;
      "
    ></div>
    <div class="flex items-center justify-end h-14 p-5">
      <a href="#" class="text-primary">Login</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "TopPanel",
};
</script>
