<template>
  <div>
    <BaseTopPanel />
    <div class="pt-10 py-20 mb-20">
      <Header />
      <Tabs />
    </div>
    <BaseBottomPanel />
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "IndexPage",
});
</script>
